<!-- Site footer -->
    <footer class="footer py-4" id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">At DevAmit, we firmly believe that code has a natural inclination to be simple. Complexity often arises due to a lack of understanding, and that's where we step in. We are dedicated to helping programmers of all levels build a strong foundation and gain expertise in various programming languages. We will help programmers build up concepts in different programming languages that include Java, HTML, CSS, Bootstrap, JavaScript, SQL, MongoDB React, Node.js and Express.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">UI Design</a></li>
              <li><a href="#">Databases</a></li>
              <li><a href="#">Java</a></li>
              <li><a href="#">React</a></li>
              <li><a href="#">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/#about_section">About Us</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/#contact_us_section">Contact Us</a></li>
              <li><a href="/#services_section">Services</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
         <a href="#">DevAmit</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="instagram" href="https://www.instagram.com/amitkrvr/"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a class="github" href="https://github.com/AmitKrVr"><i class="fa-brands fa-github"></i></a></li>
              <li><a class="threads" href="https://www.threads.net/@amitkrvr"><i class="fa-brands fa-threads"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>